.details {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--white);
}

.details li {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.details li:nth-child(odd) {
    background-color: var(--secondary);
}

.details li:nth-child(even) {
    background-color: var(--primary);
}